target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
.finch

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Env ###
.env
deploy/.env
deploy/.env.local
application-local.yml

### Logs ###
*.log
logs/

### Uploads ###
uploads/

### Prompt ###
db-genius-web/src/main/resources/prompt/
